@{
    ViewData["Title"] = "Home Page";
}
<!-- Top banner section -->
<div class="top-banner">
    <h1>Cameron Hammond - Skiing</h1>
</div>

<!-- Image just below the banner -->
<img src="~/img/SkiBanner.jpg" alt="Descriptive text about the image" class="banner-image">



<div class="container">
    <img src="~/img/SkiProfile.jpg" alt="Cameron Skiing at the top of Brighton Ski Resort" style="width:100px; height:auto;">
    <p>
        My name is Cameron Hammond, and skiing has been a significant part of my life since I was a young boy. My skiing journey began at Brighton Ski Resort, a place that holds countless cherished memories for me. However, in recent years, my passion for skiing has driven me to explore many more of Utah's magnificent ski resorts.
        <br /><br />
        There's a saying that Utah has "The Greatest Snow on Earth," and I couldn't agree more. It's not just a slogan; it's a reality that I've experienced firsthand. Utah's unique geography creates a special kind of snow—light, fluffy, and just the right moisture content—making it perfect for skiing. This exceptional snow quality, combined with the breathtaking landscapes of the Wasatch Range and beyond, provides an unparalleled skiing experience.
        <br /><br />
        Having skied extensively in Utah, I can attest to the extraordinary variety of terrains available, catering to all skill levels. From the gentle, welcoming slopes at Brighton to the more challenging and adventurous trails at other resorts, Utah truly offers something for every skier. But it's not just about the skiing; it's about the whole experience. The accessibility of Utah's ski resorts, being just a short drive from Salt Lake City International Airport, means that adventure is never far away.
        <br /><br />
        Utah's commitment to excellence in skiing is evident in the state-of-the-art resort infrastructure, modern lift systems, and luxurious accommodations designed for a seamless and comfortable experience. The ski schools are top-notch, the rental services are high-quality, and the après-ski activities, from fine dining to vibrant nightlife, ensure that the fun doesn't stop when you step off the slopes.
        <br /><br />
        As someone who has grown up with and continues to explore the wonders of skiing in Utah, I can say with conviction that skiing here is not just a sport—it's an adventure, a way of life that offers unforgettable experiences and memories that last a lifetime.
    </p>
</div>