@{
    ViewData["Title"] = "Home Page";
}
<!-- Top banner section -->
<div class="top-banner">
    <h1>Cameron Hammond - Skiing</h1>
</div>

<!-- Image just below the banner -->
<img src="~/img/SkiBanner.jpg" alt="Descriptive text about the image" class="banner-image">



<div class="container">
    <img src="~/img/SkiProfile.jpg" alt="Cameron Skiing at the top of Brighton Ski Resort" style="width:100px; height:auto;">
    <p>Skiing in Utah is a world-renowned experience that attracts enthusiasts from all corners of the globe, thanks to its exceptional snow quality, stunning landscapes, and 
        top-tier resorts. The state boasts "The Greatest Snow on Earth," a slogan that captures the essence of Utah's skiing scene. This isn't just marketing hype; the snow in 
        Utah is scientifically proven to have the perfect balance of moisture content, making it light, fluffy, and ideal for skiing. The Wasatch Range, in particular, benefits 
        from a unique meteorological phenomenon that dumps an average of 500 inches of this pristine powder annually across resorts like Alta, Snowbird, Park City, and Deer 
        Valley. These areas offer a diverse range of terrains, from gentle slopes for beginners to challenging backcountry trails for the most adventurous skiers, ensuring that 
        every level of skier finds their bliss on Utah's snowy peaks.               
            <br /> <br />
        Beyond the extraordinary snow, skiing in Utah is also remarkable for its accessibility and world-class facilities. Many of the state's best ski resorts are located
        within an hour's drive from Salt Lake City International Airport, making it incredibly convenient for travelers to hit the slopes shortly after landing. Moreover,
        the state's commitment to the skiing industry is evident in its continuous investment in resort infrastructure, modern lift systems, and luxurious accommodations,
        which cater to a seamless and comfortable skiing experience. Utah's ski resorts also offer expansive ski schools, high-quality rental services, and a variety of après-ski
        activities, from fine dining to vibrant nightlife, adding to the overall appeal. The combination of unmatched snow quality, breathtaking scenery, and exceptional
        convenience makes skiing in Utah not just a sport but a truly awesome adventure that leaves lasting memories.
    </p>
</div>